
.contact-form {
  border: 1px solid #E0E0E0;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  font-family: var(--font-sans);

  @media (min-width: 768px) and (max-width: 1199px) {
      display: flex
  }
}

.contact-form__agent {
  flex: 1;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 25px 24px;
  border-bottom: 1px solid #E0E0E0;

  @media (max-width: 767px) {
    &._with-chat {
      flex-flow: column
    }

    &._with-chat .contact-form__agent-info {
      margin-top: 10px;
      text-align: center
    }

    &._with-chat .contact-form__agent-name {
      margin-left: 0
    }

    &._with-chat .contact-form__agent__buttons {
      margin-left: unset;
      margin-top: 15px
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
      border-bottom:none;
      justify-content: center;
      padding: var(--offset-s);
      border-right: 1px solid #E0E0E0;
      flex-direction: column
  }
}

.contact-form__agent-info {
  align-items: inherit;
  text-align: left;

  @media (min-width: 768px) and (max-width: 1199px) {
      text-align:center;
      margin-top: $font-size-standard
  }

  & .button {
    margin-left: -4px;
    margin-top: -8px;
    margin-bottom: -8px;
    background: none;
    color: orangered
  }

  & .button._waiting {
    display: none
  }
}

.contact-form__agent-info .je3-spinner {
  display: none;
  height: 22px;
  justify-content: start;
  margin-left: 7px
}

.contact-form__agent-info .je3-spinner div {
  width: 6px;
  height: 6px
}

.contact-form__agent-info .button._waiting+.je3-spinner {
  display: flex
}

.contact-form__agent-avatar {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  color: #6D6D6D;
  border-radius: 100%;
  font: normal 500 20px/26px var(--font-sans);

  @media (min-width: 768px) and (max-width: 1199px) {
      min-width:80px;
      max-width: 80px;
      height: 80px
  }
}

.contact-form__agent-avatar img,.contact-form__agent-avatar-placeholder {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative
}

.contact-form__agent-avatar img:after,.contact-form__agent-avatar-placeholder:after {
  top: 0;
  left: 0;
  z-index: 1;
  color: #6D6D6D;
  width: 100%;
  height: 100%;
  position: absolute;
  content: attr(data-name-symbol)
}

.contact-form__agent-avatar,.contact-form__agent-avatar img:after,.contact-form__agent-avatar-placeholder:after {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #d3d3d3;
  font: normal 500 20px/26px var(--font-sans)
}

.contact-form__agent-name {
  font: normal normal 16px/24px var(--font-sans);
  margin-left: 11px
}

.contact-form__agent-phone {
  max-width: 300px;
  height: 48px
}

.contact-form__agent__buttons {
  margin-left: auto;
  display: flex
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact-form__agent__buttons {
    margin-left:0;
    margin-top: 15px
  }
}

.contact-form__agent__buttons .button {
  color: orangered;
  padding: 11px 20px;
  border-radius: 22px !important;
  font-size: 11px !important
}

.contact-form__agent__buttons .button:hover {
  border-color: orangered
}

.contact-form__agent__buttons .button:nth-child(2) {
  margin-left: 8px
}

.contact-form__wrapper {
  flex: 1;
  padding: 24px 24px 33px;
  min-width: 0
}

@media (max-width: 767px) {
  .contact-form__wrapper {
    padding:24px 20px
  }
}

.contact-form__error {
  padding-top: 8px;
  margin-bottom: -8px;
  color: #E63232;
  font: normal normal 12px/14px var(--font-sans)
}

@media (max-width: 767px) {
  .contact-form__error {
    margin-bottom:0
  }
}

.contact-form__form-row {
  display: flex;
  min-height: 44px;
  position: relative;
  justify-content: center;
  flex-direction: column
}

.contact-form__form-row._collapsed {
  min-height: 0
}

.contact-form__form-row._hidden {
  display: none
}

.contact-form__form-row .input {
  width: 100%
}

.contact-form__form-row .button {
  height: 48px
}

.contact-form__form-row .checkbox {
  padding: 0;
  margin-top: 5px
}

.contact-form__form-row .checkbox span,.contact-form__form-row .checkbox a {
  color: #606060
}

.contact-form__form-row .iti {
  display: flex;
  width: 100%
}

.contact-form__form-row .iti__flag,.contact-form__form-row .iti__flag-box {
  display: none;
  background: none !important
}

.contact-form__form-row .iti__selected-flag {
  display: flex;
  padding: 0 14px;
  justify-content: space-between
}

.contact-form__form-row .iti__selected-dial-code {
  margin: 0
}

.contact-form__form-row .iti__arrow {
  margin: 0;
  border: none;
  min-width: 12px;
  min-height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' /%3E%3Cpath d='M1 4L6 9L11 4' stroke='%232C2C2C' stroke-width='1.2'/%3E%3C/svg%3E%0A")
}

.contact-form__form-row .iti__arrow--up {
  transform: rotate(-180deg)
}

.contact-form__form-row .iti__flag-container {
  padding: 0;
  min-width: 80px;
  position: static
}

.contact-form__form-row .iti__selected-flag {
  outline: none;
  background: none;
  border: 1px solid #E0E0E0;
  font: normal normal 14px/20px var(--font-sans);
  z-index: 0
}

.contact-form__form-row .iti__country-list {
  width: 100%;
  border-radius: 4px;
  overflow-x: hidden;
  border-color: #d3d3d3;
  box-shadow: 0 0 20px rgba(0,0,0,0.1)
}

.contact-form__form-row .iti__country {
  height: 44px;
  display: flex;
  padding: 0 10px;
  color: #2C2C2C;
  align-items: center;
  font: normal normal 14px/20px var(--font-sans)
}

.contact-form__form-row .iti__country-name {
  flex: 1
}

.contact-form__form-row .iti__highlight {
  background-color: #F8F8F8
}

.contact-form__form-row textarea {
  min-height: 88px;
  resize: vertical;
  color: #606060
}

.contact-form__form-row+.contact-form__form-row {
  margin-top: $font-size-standard
}

.contact-form__finish {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  padding: 45px;
  display: none;
  opacity: 0;
  text-align: center;
  position: absolute;
  align-items: center;
  transform: scale(1.1);
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  transition: transform 120ms ease, opacity 120ms ease;
  box-sizing: border-box
}

.contact-form__finish-title {
  color: #151515;
  margin-top: 32px;
  font: normal normal 28px/32px var(--font-serif)
}

.contact-form__finish-text {
  color: #606060;
  margin-top: 15px;
  font: normal normal 16px/24px var(--font-sans)
}

.contact-form__finish.success svg {
  fill: orangered;
  width: 64px;
  height: 64px
}

.contact-form__finish.fail svg {
  fill: #F4382C;
  width: 64px;
  height: 64px
}

.contact-form._sending .contact-form__finish {
  display: flex
}

.contact-form._success .contact-form__finish.success,.contact-form._fail .contact-form__finish.fail {
  display: flex;
  opacity: 1;
  transform: scale(1)
}
.contact-form._horizontal {
  @media (min-width: 768px) {
      display: flex;

    & .contact-form__agent {
      border-bottom: none;
      border-right: 1px solid #E0E0E0;
      justify-content: center;
      flex-direction: column
    }

    & .contact-form__agent-avatar {
      min-width: 80px;
      max-width: 80px;
      height: 80px
    }

    & .contact-form__agent-info {
      margin-top: $font-size-standard;
      text-align: center
    }

    & .contact-form__agent__buttons {
      margin-left: 0;
      margin-top: 15px
    }
  }
}
