@media (max-width: 1028px) {

  .mo-flex-col {
    display: flex;
    flex-direction: column !important;
  }

  .mo-flex-row {
    display: flex;
    flex-direction: row;
  }


  .mo-flex-1 { flex:1; }
  .mo-flex-2 { flex:2; }
  .mo-flex-3 { flex:3; }

  .mo-wrap { flex-wrap: wrap }
  .mo-between { justify-content: space-between }
}
