.input {
  border: 1px solid #E0E0E0;
  padding: 11px $font-size-standard !important;
  outline: none;
  font-size: $font-size-standard;
  line-height: 22px;

  &.small {
    height: 40px
  }

  &::-webkit-input-placeholder {
    color: #A0A0A0
  }

  &:-ms-input-placeholder {
    color: #A0A0A0
  }

  &::placeholder {
    color: #A0A0A0
  }

  &:-webkit-autofill::first-line {
    font-family: var(--font-sans);
    font-size: $font-size-standard
  }

  &:disabled,&._disabled {
    color: #A0A0A0;
    background-color: #F8F8F8
  }

  &:not(._error):focus {
    border-color: #606060
  }

  &._error {
    border-color: #E63232
  }

  &._invalid {
    border-color: #F4382C
  }
}
