body {
  height: 100vh;
  margin: 0;
  overflow-x: auto;
}

svg {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  fill: currentColor;
  stroke: none
}

pre {
  font-size: 11px;
  line-height: 18px;
  font-family: var(--font-mono);
  border-radius: 3px;
  padding: 0.5em;
  overflow-x: auto;
  color: var(--text-color);
  //background-color: var(--bg-color);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}
