body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: overlay;
  font-family: var(--font-gen);
  -webkit-font-smoothing: subpixel-antialiased;
  scroll-behavior: smooth;
  font-weight: 400;
}
svg {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  fill: currentColor;
  stroke: none
}

pre {
  font-size: 11px;
  line-height: 18px;
  font-family: var(--font-mono);
  border-radius: 3px;
  padding: 0.5em;
  overflow-x: auto;
  color: orangered;
  //background-color: var(--bg-color);

  white-space: pre-wrap;
  break-word: break-word;
}


input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

button,
button[disabled],
button::-moz-focus-inner,
input,
optgroup,
select,
textarea,
input[type="reset"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
html input[type="button"],
html input[disabled],
input::-moz-focus-inner {
  border:none;
  outline: none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

figure {
  margin: 0;
}
