@media (max-width: 1028px) {

  .mo-w-full { width: 100% }

  .mo-pt1 { padding-top: 1vw }
  .mo-pt2 { padding-top: 2vw }
  .mo-pt7 { padding-top: 7vw }

  .mo-pb0 { padding-bottom: 0vw }
  .mo-pb1 { padding-bottom: 1vw }
  .mo-pb7 { padding-bottom: 7vw }

  .mo-pr0 { padding-right: 0vw }
  .mo-pr2 { padding-right: 2vw }

  .mo-mt0 { margin-top: 0vw }
  .mo-mt1 { margin-top: 1vw }

  .mo-mb1 { margin-bottom: 1vw }
  .mo-mb2 { margin-bottom: 2vw }
  .mo-mb3 { margin-bottom: 3vw }
  .mo-mb4 { margin-bottom: 4vw }

  .mo-ml1 { margin-left: 1vw }
}