
.v {
  outline: 1px solid red !important;
}

.vv {
  > * {
    outline: 1px solid red !important;
  }
}

.vvv {
  * {
    outline: 1px solid red !important;
  }
}


@media (max-width: 1028px) {
  .mo-hidden {
    display: none!important;
  }
}

.wfull {
  width: 100%
}

.hfull {
  height: 100%
}