
.v {
  outline: 1px solid red !important;
}

.vv {
  > * {
    outline: 1px solid red !important;
  }
}

.vvv {
  * {
    outline: 1px solid red !important;
  }
}

.bold {
  font-weight: bold;
}

.text-right {
  text-align: right
}

.text-mono {
  font-family: var(--font-mono);
}

.italic {
  font-style: italic;
 }
