
.v {
  outline: 1px solid red !important;
}

.vv {
  > * {
    outline: 1px solid red !important;
  }
}

.vvv {
  * {
    outline: 1px solid red !important;
  }
}


@media (var(--mobile-size)) {
  .mo-hidden {
    display: none!important;
  }
}

.wfull {
  width: 100%
}

.hfull {
  height: 100%
}

.wscreen {
  width: 100vw
}
.hscreen {
  width: 100vh
}
